@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-my-green-500: hsl(158, 36%, 37%);
  --color-my-green-700: hsl(158, 42%, 18%);
  --color-my-black: hsl(212, 21%, 14%);
  --color-my-grey: hsl(228, 12%, 48%);
  --color-my-cream: hsl(30, 38%, 92%);
  --color-my-white: hsl(0, 0%, 100%);

  --font-Montserrat: "Montserrat", sans-serif;
  --font-Fraunces: "Fraunces", serif;
}
