* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

:root {
  --green-color: hsl(75, 94%, 57%);
  --white-color: hsl(0, 0%, 100%);
  --grey-700-color: hsl(0, 0%, 20%);
  --grey-800-color: hsl(0, 0%, 12%);
  --grey-900-color: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900-color);
  color: var(--white-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main{

}
.profile{
/* border: 1px solid red; */
padding: 30px;
border-radius: 15px;
background-color: var(--grey-800-color);
text-align: center;
min-width: 300px;
margin: 10px;

}
.profile__info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile__image{
width: 100px;
height: 100px;
margin-bottom: 20px;
}
.profile__img{
width: 100%;
height: 100%;
border-radius: 100%;
}
.profile__name{
color: var(--white-color);
margin-bottom: 5px;
font-weight: 700;
}
.profile__location{
color: var(--green-color);
margin-bottom: 20px;
font-size: 14px;
font-weight: 600;
}
.profile__title{
color: var(--white-color);
font-size: 14px;
font-weight: 400;
}
.social-links{
margin-top: 20px;
}
.social-links__list{
display: flex;
flex-direction: column;
gap: 10px;
}
.social-links__list-item{
    /* display: block; */

}
.social-links__list-link{
color: var(--white-color);
padding: 10px;
border-radius: 5px;
background-color: var(--grey-700-color);
display: block;
font-weight: 600;
transition: all 0.3s ease;
}

.social-links__list-link:hover{
    background-color: var(--green-color);
    color: var(--grey-900-color);
}